<%= link_to "Login", login_path %>
<% if current_user %>
  <h2><%= "Welcome #{current_user.first_name}!" %></h2>
<% end %>
<ul class="toots">
  <% @toots.each do |toot| %>
    <li><%= toot.body %></li>
  <% end %>
</ul>
