<% if current_user.following?(@user) %>
  <%= link_to "Stop sniffing", user_follower_path(@user, current_user), { method: :delete } %>
<% else %>
  <%= link_to "Sniff", user_followers_path(@user), { method: :post } %>
<% end %>
<ul class="toots">
  <% @toots.each do |toot| %>
    <li><%= toot.body %></li>
  <% end %>
</ul>
